<link rel="stylesheet" href="styleNav.css">

<nav>
   <a href="/" style="text-decoration: none;"><h3>AnimePedia</h3></a>
</nav>
<div class="sidebar">
   <div class="logo-details">
       <i class='bx bx-menu' id="btn"></i>
   </div>
   <ul class="nav-list">
       <li>
           <form action="/" method="post">
               <i class='bx bx-search'></i>
               <input type="search" name="search" placeholder="Search...">
               <span class="tooltip">Search</span>
           </form>
       </li>
       <li>
           <a href="/">
               <i class='bx bxs-home'></i>
               <span class="links_name">Home</span>
           </a>
           <span class="tooltip">Home</span>
       </li>
       <li>
           <a href="/schedule">
               <i class='bx bxs-calendar'></i>
               <span class="links_name">Schedule</span>
           </a>
           <span class="tooltip">Schedule</span>
       </li>
       <li>
           <a href="/upcoming">
               <i class='bx bxs-time'></i>
               <span class="links_name">Upcoming</span>
           </a>
           <span class="tooltip">Upcoming</span>
       </li>

   </ul>
</div>